executor: LocalExecutor

images:
  airflow:
    repository: apache/airflow
    tag: 2.7.3

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    user: airflow
    pass: airflow
    sslmode: disable

config:
  AIRFLOW__CORE__LOAD_EXAMPLES: "false"
  AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
  AIRFLOW__WEBSERVER__RBAC: "true"
  AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"

airflow:
  users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

logs:
  persistence:
    enabled: true
    size: 10Gi
    storageClassName: azurefile-csi


webserver:
  startupProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 20
    timeoutSeconds: 5
    failureThreshold: 5

  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
