executor: LocalExecutor

images:
  airflow:
    repository: apache/airflow
    tag: 2.7.3

airflow:
  config:
    core:
      load_examples: "false"

    api:
      auth_backends: >
        airflow.api.auth.backend.session,
        airflow.api.auth.backend.basic_auth

    webserver:
      expose_config: "true"

  env:
    - name: AIRFLOW_HOME
      value: /opt/airflow

  envFrom:
    - secretRef:
        name: airflow-metadata
    - secretRef:
        name: airflow-fernet-key


webserver:
  service:
    type: LoadBalancer
    ports:
      - name: airflow-ui
        port: 8080
        targetPort: 8080
  startupProbe: {}

  livenessProbe:
    initialDelaySeconds: 300
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 5

  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 15
    timeoutSeconds: 5

scheduler:
  livenessProbe:
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

triggerer:
  livenessProbe:
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

dagProcessor:
  livenessProbe:
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
