executor: LocalExecutor

auth:
  username: admin
  password:
    secretRef: om-airflow-secret
    secretKey: OM_PASSWORD

config:
  AIRFLOW__CORE__LOAD_EXAMPLES:
    value: "False"

  AIRFLOW__API__AUTH_BACKENDS:
    value: "airflow.api.auth.backend.basic_auth"

postgresql:
  enabled: false

webserver:
  service:
    type: LoadBalancer
