executor: LocalExecutor

airflow:
  config:
    core:
      load_examples: "false"

    api:
      auth_backends: >
        airflow.api.auth.backend.session,
        airflow.api.auth.backend.basic_auth

  env:
    - name: AIRFLOW_HOME
      value: /opt/airflow

  envFrom:
    - secretRef:
        name: airflow-metadata
    - secretRef:
        name: airflow-fernet-key


  api:
    startupProbe:
      enabled: true
      tcpSocket:
        port: 8080
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 30

    livenessProbe:
      tcpSocket:
        port: 8080
      initialDelaySeconds: 120
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 5

    readinessProbe:
      tcpSocket:
        port: 8080
      initialDelaySeconds: 60
      periodSeconds: 15
      timeoutSeconds: 5

  scheduler:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5


  triggerer:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5


  dagProcessor:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5


  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
