executor: LocalExecutor

images:
  airflow:
    repository: apache/airflow
    tag: 2.7.3
    pullPolicy: IfNotPresent

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    user: airflow
    pass: airflow
    sslmode: disable

airflow:
  config:
    api:
      auth_backends: airflow.api.auth.backend.jwt_auth
    webserver:
      rbac: "false"

  users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs


scheduler:
  startupProbe:
    failureThreshold: 30
    periodSeconds: 10
    timeoutSeconds: 30

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5


webserver:
  service:
    type: LoadBalancer

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5
