executor: LocalExecutor

images:
  airflow:
    repository: daappoc25.azurecr.io/airflow
    tag: 2.9.2
    pullPolicy: Always

postgresql:
  enabled: false


data:
  metadataConnection:
    protocol: postgresql
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    user: airflow
    pass: airflow
    sslmode: disable

airflow:
  config:
    api:
      auth_backends: airflow.api.auth.backend.basic_auth
    webserver:
      rbac: "false"
  
  users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs

webserver:
  service:
    type: LoadBalancer
  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 10

  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 15
    timeoutSeconds: 5
    failureThreshold: 10


