executor: LocalExecutor

images:
  airflow:
    repository: apache/airflow
    tag: 2.7.3

postgresql:
  enabled: false


data:
  metadataConnection:
    protocol: postgresql
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    user: airflow
    pass: airflow
    sslmode: disable

airflow:
  config:
    AIRFLOW__CORE__LOAD_EXAMPLES:
      value: "false"

    AIRFLOW__API__AUTH_BACKENDS:
      value: "airflow.api.auth.backend.basic_auth"

    AIRFLOW__WEBSERVER__RBAC:
      value: "true"

    AIRFLOW__WEBSERVER__EXPOSE_CONFIG:
      value: "true"

  users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

logs:
  persistence:
    enabled: true
    size: 10Gi
    storageClassName: azurefile-csi

webserver:
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false

scheduler:
  replicas: 1

triggerer:
  enabled: true
