executor: LocalExecutor

airflow:
  config:
    core:
      load_examples: "false"
    api:
      auth_backends: >
        airflow.api.auth.backend.session,
        airflow.api.auth.backend.basic_auth

  env:
    - name: AIRFLOW_HOME
      value: /opt/airflow

  envFrom:
    - secretRef:
        name: airflow-metadata
    - secretRef:
        name: airflow-fernet-key


apiServer:
  startupProbe:
    enabled: false   

  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 5

  readinessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 15
    timeoutSeconds: 10


scheduler:
  livenessProbe:
    enabled: true
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5


triggerer:
  livenessProbe:
    enabled: true
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

dagProcessor:
  livenessProbe:
    enabled: true
    initialDelaySeconds: 180
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5

logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
