executor: LocalExecutor

airflow:
  config:
    core:
      load_examples: "false"
    webserver:
      expose_config: "true"
    api:
      auth_backends: airflow.api.auth.backend.basic_auth

  env:
    - name: AIRFLOW_HOME
      value: /opt/airflow

  envFrom:
    - secretRef:
        name: airflow-metadata
    - secretRef:
        name: airflow-fernet-key

  api:
    startupProbe: null

    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5

    readinessProbe:
      initialDelaySeconds: 60
      periodSeconds: 15
      timeoutSeconds: 15

  scheduler:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5

  triggerer:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5

  dagProcessor:
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 30
      timeoutSeconds: 30
      failureThreshold: 5

  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable
