executor: LocalExecutor

images:
  airflow:
    repository: apache/airflow
    tag: 2.7.3-python3.10
    pullPolicy: Always

postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    user: airflow
    pass: airflow
    sslmode: disable

airflow:
  extraPipPackages:
    - "openmetadata-airflow-apis==1.11.3"
  config:
    AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"

logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs

webserver:
  service:
    type: LoadBalancer

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 10

  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 15
    timeoutSeconds: 5
