airflow:
  image:
    repository: apache/airflow
    tag: 2.7.3

  executor: LocalExecutor

  config:
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
    AIRFLOW__WEBSERVER__RBAC: "true"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"

  users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

  postgresql:
    enabled: false

  data:
    metadataConnection:
      user: airflow
      pass: airflow
      protocol: postgresql
      host: postgres.daap-dev.svc.cluster.local
      port: 5432
      db: airflow
      sslmode: disable

  logs:
    persistence:
      enabled: true
      size: 10Gi

  scheduler:
    replicas: 1

  webserver:
    replicas: 1
