postgresql:
  enabled: false


executor: LocalExecutor

webserver:
  service:
    type: LoadBalancer


env:
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"


envFromSecrets:
  - airflow-metadata

users:
  - username: admin
    password: admin
    role: Admin
    email: admin@example.com
    firstName: Admin
    lastName: User

logs:
  persistence:
    enabled: true
    size: 1Gi


scheduler:
  replicas: 1

triggerer:
  enabled: true
  persistence:
    enabled: true
    size: 1Gi
