executor: LocalExecutor

config:
  AIRFLOW__CORE__LOAD_EXAMPLES:
    value: "False"

  AIRFLOW__API__AUTH_BACKENDS:
    value: "airflow.api.auth.backend.basic_auth"

webserver:
  service:
    type: LoadBalancer

scheduler:
  replicas: 1

triggerer:
  enabled: false

workers:
  replicas: 0

dags:
  persistence:
    enabled: true
    size: 1Gi

logs:
  persistence:
    enabled: true
    size: 1Gi
