executor: LocalExecutor

airflow:
  config:
    core:
      load_examples: "false"
    webserver:
      expose_config: "true"
    api:
      auth_backends: airflow.api.auth.backend.basic_auth

  env:
    - name: AIRFLOW_HOME
      value: /opt/airflow

  envFrom:
    - secretRef:
        name: airflow-metadata
    - secretRef:
        name: airflow-fernet-key

api:
  service:
    type: LoadBalancer
  startupProbe:
    enabled: false

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 20
    timeoutSeconds: 10
    failureThreshold: 5

  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 10


scheduler:
  startupProbe:
    failureThreshold: 30
    periodSeconds: 10
    timeoutSeconds: 30

  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5


postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable


logs:
  persistence:
    enabled: true
    existingClaim: airflow-logs
