executor: LocalExecutor

# airflow.cfg
config:
  core:
    load_examples: false
  webserver:
    expose_config: true
  api:
    auth_backends: airflow.api.auth.backend.basic_auth

# Literal env vars ONLY
env:
  - name: AIRFLOW_HOME
    value: /opt/airflow

# Secrets
envFrom:
  - secretRef:
      name: airflow-metadata
  - secretRef:
      name: airflow-fernet-key

webserver:
  service:
    type: LoadBalancer

# You are using external Postgres
postgresql:
  enabled: false

data:
  metadataConnection:
    protocol: postgresql
    user: airflow
    pass: airflow
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    db: airflow
    sslmode: disable

logs:
  persistence:
    enabled: true
    size: 5Gi
    storageClassName: managed-csi