airflow:
  enabled: true


  airflow:
    image:
      repository: daappoc25.azurecr.io/ingestion
      tag: latest
      pullPolicy: Always

    executor: LocalExecutor
    extraEnv: []

    config:
      AIRFLOW__API__ENABLE_EXPERIMENTAL_API: "True"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs

  dags:
    persistence:
      enabled: true
      existingClaim: airflow-dags

mysql:
  enabled: true

