replicaCount: 1

openmetadata:
  config:
    logLevel: INFO
    clusterName: openmetadata

    openmetadata:
      host: "0.0.0.0"
      port: 8585
      adminPort: 8586
      maxThreads: 50
      minThreads: 10
      idleThreadTimeout: "1 minute"

    elasticsearch:
      enabled: true
      host: opensearch-cluster-master.daap-dev.svc.cluster.local
      port: 9200
      scheme: http
      searchType: opensearch
      batchSize: 100
      connectionTimeoutSecs: 5
      socketTimeoutSecs: 60
      keepAliveTimeoutSecs: 600
      auth:
        enabled: false

    database:
      enabled: true
      host: postgres.daap-dev.svc.cluster.local
      port: 5432
      driverClass: org.postgresql.Driver
      dbScheme: postgresql
      databaseName: openmetadata_db
      auth:
        username: om_user
        password:
          secretRef: mysql-secrets
          secretKey: openmetadata-mysql-password
      dbParams: "sslmode=disable"

    pipelineServiceClientConfig:
      enabled: true
      className: "org.openmetadata.service.clients.pipeline.airflow.AirflowRESTClient"
      apiEndpoint: http://airflow-web.daap-dev.svc.cluster.local:8080
      metadataApiEndpoint: http://openmetadata:8585/api
      verifySsl: "no-ssl"
      auth:
        enabled: true
        username: admin
        password:
          secretRef: airflow-secrets
          secretKey: openmetadata-airflow-password

    authorizer:
      enabled: true
      className: "org.openmetadata.service.security.DefaultAuthorizer"
      containerRequestFilter: "org.openmetadata.service.security.JwtFilter"
      initialAdmins:
        - admin

    authentication:
      enabled: true
      provider: basic
      publicKeys:
        - "http://openmetadata:8585/api/v1/system/config/jwks"
      jwtPrincipalClaims:
        - email
        - preferred_username
        - sub
      enableSelfSignup: true


    secretsManager:
      enabled: true
      provider: db


    web:
      enabled: true
      uriPath: "/api"

    eventMonitor:
      enabled: true
      type: prometheus


image:
  repository: daappoc25.azurecr.io/openmetadata
  tag: latest
  pullPolicy: IfNotPresent

fullnameOverride: openmetadata

service:
  type: LoadBalancer
  port: 8585
  adminPort: 8586

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}
