airflow:
  enabled: true

  logs:
    persistence:
      enabled: false

  dags:
    persistence:
      enabled: false

  airflow:
    image:
      repository: daappoc25.azurecr.io/ingestion
      tag: latest
      pullPolicy: Always

    executor: LocalExecutor

    config:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

    extraVolumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-dags
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs

    extraVolumeMounts:
      - name: airflow-dags
        mountPath: /opt/airflow/dags
      - name: airflow-logs
        mountPath: /opt/airflow/logs

  apiServer:
    livenessProbe:
      enabled: false
    readinessProbe:
      enabled: false

mysql:
  enabled: true
