airflow:
  enabled: true

  persistence:
    enabled: false

  dags:
    persistence:
      enabled: false

  logs:
    persistence:
      enabled: false

  airflow:
    extraPipPackages: []
    image:
      repository: daappoc25.azurecr.io/ingestion
      tag: latest
      pullPolicy: Always

    executor: LocalExecutor

    config:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

    apiServer:
      livenessProbe:
        httpGet:
          path: /api/v2/version
          port: 8080
        initialDelaySeconds: 180
        periodSeconds: 30
        timeoutSeconds: 10
        failureThreshold: 20

      readinessProbe:
        httpGet:
          path: /api/v2/version
          port: 8080
        initialDelaySeconds: 120
        periodSeconds: 20
        timeoutSeconds: 10
        failureThreshold: 10

    extraVolumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-dags
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs

    extraVolumeMounts:
      - name: airflow-dags
        mountPath: /opt/airflow/dags
      - name: airflow-logs
        mountPath: /opt/airflow/logs

mysql:
  enabled: true
