airflow:
  enabled: true


  airflow:
    image:
      repository: docker.getcollate.io/openmetadata/ingestion
      tag: 1.11.4
      pullPolicy: IfNotPresent

    executor: LocalExecutor

    config:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.session,airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs

  externalDatabase:
    type: postgres
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    database: airflow
    user: airflow
    passwordSecret: airflow-postgres-secret
    passwordSecretKey: password
