airflow:
  enabled: true


  airflow:
    apiServer:
    livenessProbe:
      httpGet:
        path: /api/v2/version
        port: 8080
      initialDelaySeconds: 120
      timeoutSeconds: 10
      periodSeconds: 30
      failureThreshold: 10

    readinessProbe:
      httpGet:
        path: /api/v2/version
        port: 8080
      initialDelaySeconds: 60
      timeoutSeconds: 10
      periodSeconds: 15
      failureThreshold: 6
    image:
      repository: daappoc25.azurecr.io/ingestion
      tag: latest
      pullPolicy: Always

    executor: LocalExecutor
    extraEnv: []

    config:
      AIRFLOW__API__ENABLE_EXPERIMENTAL_API: "True"
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs

  dags:
    persistence:
      enabled: true
      existingClaim: openmetadata-dependencies-dags

mysql:
  enabled: true

