clusterName: "opensearch-cluster"

nodeGroup: "master"

replicas: 1

image:
  repository: opensearchproject/opensearch
  tag: "2.12.0"   
  pullPolicy: IfNotPresent

opensearchJavaOpts: "-Xms1024m -Xmx1024m"

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    memory: "3Gi"

persistence:
  enabled: true
  storageClass: managed-csi
  accessModes:
    - ReadWriteOnce
  size: 5Gi

service:
  type: ClusterIP
  ports:
    - name: http
      port: 9200

config:
  opensearch.yml: |
    cluster.name: opensearch-cluster
    network.host: 0.0.0.0
    discovery.type: single-node
    plugins.security.disabled: true

extraEnvs:
  - name: DISABLE_INSTALL_DEMO_CONFIG
    value: "true"
  - name: DISABLE_SECURITY_PLUGIN
    value: "true"

sysctl:
  enabled: true
  vmMaxMapCount: 262144
