airflow:
  enabled: true

  airflow:
    image:
      repository: openmetadata/ingestion
      tag: 1.11.3
      pullPolicy: IfNotPresent

    config:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__WEBSERVER__AUTHENTICATE: "True"
      AIRFLOW__WEBSERVER__RBAC: "True"
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/airflow/dags"

  dags:
    path: /airflow/dags
    persistence:
      enabled: false

  logs:
    path: /airflow/logs
    persistence:
      enabled: false

  externalDatabase:
    type: postgres
    host: postgres.daap-dev.svc.cluster.local
    port: 5432
    database: airflow
    user: airflow
    passwordSecret: airflow-postgres-secret
    passwordSecretKey: password

opensearch:
  enabled: false

mysql:
  enabled: false
