airflow:
  enabled: true

  airflow:
    image:
      repository: daappoc25.azurecr.io/ingestion
      tag: latest
      pullPolicy: Always

    executor: LocalExecutor


    livenessProbe:
      httpGet:
        path: /api/v2/version
        port: 8080
      initialDelaySeconds: 120
      timeoutSeconds: 10
      periodSeconds: 30
      failureThreshold: 10

    readinessProbe:
      httpGet:
        path: /api/v2/version
        port: 8080
      initialDelaySeconds: 60
      timeoutSeconds: 10
      periodSeconds: 15
      failureThreshold: 6

    config:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__ENABLE_API_SERVER: "True"
      AIRFLOW__API__AUTH_BACKENDS: airflow.api.auth.backend.basic_auth
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"

    extraVolumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-dags
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs

    extraVolumeMounts:
      - name: airflow-dags
        mountPath: /opt/airflow/dags
      - name: airflow-logs
        mountPath: /opt/airflow/logs

mysql:
  enabled: true
